<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>vlatkok-001-site1.htempurl.com</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://vlatkok-001-site1.htempurl.com:8172/MsDeploy.axd?site=vlatkok-001-site1</MSDeployServiceURL>
    <DeployIisAppPath>vlatkok-001-site1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>ifc\vlatkok-001</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="BicycleWorldShop2" Order="1" Enabled="False">
          <Destination Path="Data Source=SQL6002.site4now.net;Initial Catalog=DB_A432BC_worldshop;User ID=DB_A432BC_worldshop_admin;Password=vksmarter123@" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="BicycleWorldShop.DAL.BicycleWorldShopContext, BicycleWorldShop" MigrationConfiguration="BicycleWorldShop.Migrations.Configuration, BicycleWorldShop" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)BicycleWorldShop2-Web.config Connection String">
      <ParameterValue>Data Source=SQL6002.site4now.net;Initial Catalog=DB_A432BC_worldshop;User ID=DB_A432BC_worldshop_admin;Password=vksmarter123@</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>