@{
    ViewBag.Title = "About";
}


<header class="container">
    <h1>The Bike Shop History</h1>
</header>
<h2>Our History</h2>
<table>
    <tr>
        <td>
            <p><img alt="The Bike Shop has a long history in the cycling industry" height="218" src="~/Content/Images/family-portrait-May-2013_redone.jpg" style="display: block; margin-left: auto; margin-right: auto;" title="The Bike Shop has a long history in the cycling industry" width="300"></p>
            <p style="text-align: center;"><strong>Jorja, Tracey, Sara and Ryan today</strong></p>
        </td>
        <td>
            <p><img alt="The Bike Shop has a long history in the cycling industry" height="231" src="~/Content/Images/BikeShopHistory1.jpg" style="display: block; margin-left: auto; margin-right: auto;" title="The Bike Shop has a long history in the cycling industry" width="298"></p>
            <p style="text-align: center;"><strong>Ryan, Travis, Pegi and Rex in 1978</strong></p>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <p><em><strong><span style="font-size: small;">Welcome to Bicycle World Shop! </span></strong></em></p>
            <p></p>
            <p><span style="font-size: small;">The Bicycle World Shop is a family owned business that was established in 1978 by Rex and Pegi Cooper with their sons Ryan and Travis.&nbsp;Throughout the years the Coopers have helped people select their child's first bicycle and help introduce riders to the extensive trail system our area has to offer. In addition, The Bike Shop has assisted athletes in achieving their goals, including Ironman Triathlons, National Championships, World Championships and the Olympics. Prior to opening The Bike Shop, Rex worked for the Department of Defense performing metallurgical research. The work he performed involved stress and corrosion testing along with research and design for the Navy. This knowledge has been beneficial through the years and has allowed us to inspect bicycle frames, components and parts keeping the highest safety and operating standards.</span></p>
            <p><span style="font-size: small;">When Rex and Pegi retired in 2012, Ryan’s wife Tracey left her career in Commercial Banking to join Ryan in running the family business. Tracey’s emphasis in customer service and her personal enjoyment in bicycling has helped people discover a passion for cycling. Ryan and Tracey also have two daughters, Jorja and Sara, who are often at The Bike Shop helping customers and learning the business, keeping the family tradition alive.</span></p>
            <p><span style="font-size: small;">In addition to working beside his father for over 30 years, Ryan also worked in the medical field.&nbsp; Realizing that “an ounce of prevention is worth a pound of cure”, he found a renewed passion for the bicycle industry.&nbsp; Ryan is certified in bicycle fitting, has learned the art of mechanics from his father, and loves the sport of cycling.&nbsp; Ryan's&nbsp;training&nbsp;and&nbsp;experience&nbsp;will asist you in finding the bicycle that is perfect for you.</span></p>
            <p><span style="font-size: small;">The Coopers have enjoyed serving the Redding community for more than 35 years and the next generation is excited for the years to come. Visit us today and see why our enthusiasm for cycling, fun and fitness continues to grow.</span></p>
            <p><span style="font-size: small;"><br></span></p>
            <p><em><strong><span style="font-size: small;">Fun Fact:</span></strong></em></p>
            <p><span style="font-size: small;"><em>Did You Know?</em>: &nbsp;Ryan and Tracey met in the helmet section at The Bike Shop.</span></p>
        </td>
    </tr>
</table>
