
@{
    ViewBag.Title = "Catalog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Bicycling Catalog</h2>


<div class="col-sm-3">
    <ul>
        <li class="dropdown-header"><h3><b>Bikes</b></h3></li>
        <li><a href="~/StoreFront/Index/Road">Road</a></li>
        <li><a href="~/StoreFront/Index/Mountain">Mountain </a></li>
        <li><a href="~/StoreFront/Index/Commuter">Commuter / Urban</a></li>
        <li><a href="~/StoreFront/Index/Comfort">Comfort</a></li>
        <li><a href="~/StoreFront/Index/Cruiser">Cruiser</a></li>
        <li><a href="~/StoreFront/Index/Fitness">Fitness</a></li>
        <li><a href="~/StoreFront/Index/Hybrid">Hybrid</a></li>
        <li><a href="~/StoreFront/Index/Electric">Electric</a></li>
        <li><a href="~/StoreFront/Index/Childrens">Children's</a></li>
     
        <li class="dropdown-header"><h3><b>Parts</b></h3></li>
        <li><a href="~/StoreFront/Index/Handlebar grips">Handlenar Grips / Tape</a></li>
        <li><a href="~/StoreFront/Index/Pedals">Peddals</a></li>
        <li><a href="~/StoreFront/Index/Saddles">Saddles / Pads</a></li>
    </ul>
</div>
<div class="col-sm-3">
    <ul>
        <li class="dropdown-header"><h3><b>Accessories</b></h3></li>
        <li><a href="~/StoreFront/Index/Body Care"> Body Care</a></li>
        <li><a href="~/StoreFront/Index/Electronics"> Electronics</a></li>
        <li><a href="~/StoreFront/Index/Eyewear"> Eyewear </a></li>
        <li><a href="~/StoreFront/Index/Hydratation"> Hydratation</a></li>
        <li><a href="~/StoreFront/Index/Lighting"> Lighting</a></li>
        <li><a href="~/StoreFront/Index/Locks"> Locks / Security</a></li>
        <li><a href="~/StoreFront/Index/Media"> Media /Resources</a></li>
        <li><a href="~/StoreFront/Index/Nutrition"> Nutrition</a></li>
        <li><a href="~/StoreFront/Index/Packs"> Packs/Racks/Baskets</a></li>
        <li><a href="~/StoreFront/Index/Pumps"> Pumps/Inflation</a></li>
        <li><a href="~/StoreFront/Index/Storage"> Storage</a></li>
        <li><a href="~/StoreFront/Index/Safety"> Safety</a></li>
        <li><a href="~/StoreFront/Index/Tools"> Tools/Maintenance</a></li>
        <li><a href="~/StoreFront/Index/Trailers"> Trailers/ Stollers</a></li>

    
        <li class="dropdown-header"><h3><b>Tires/Tubes</b></h3></li>
        <li><a href="~/StoreFront/Index/Tires"> Tires</a></li>

    </ul>
</div>
<div class="col-sm-3">
    <ul>
        <li class="dropdown-header"><h3><b>Clothing</b></h3></li>
        <li><a href="~/StoreFront/Index/Gloves"> Gloves</a></li>
        <li><a href="~/StoreFront/Index/Jerseys Short">Jerseys / Tops(Short Sleeve) </a></li>
        <li><a href="~/StoreFront/Index/Outwear"> Outwear</a></li>
        <li><a href="~/StoreFront/Index/Jerseys Long"> Jerseys / Tops(Long Sleeve)</a></li>
        <li><a href="~/StoreFront/Index/Shorts"> Shorts / Bottoms</a></li>
        <li><a href="~/StoreFront/Index/Undergarments">  Undergarments</a></li>
        <li><a href="~/StoreFront/Index/Socks">Socks</a></li>
   
        <li class="dropdown-header"><h3><b>Helmets</b></h3></li>
        <li><a href="~/StoreFront/Index/Adults">Adults</a></li>
        <li><a href="~/StoreFront/Index/Kids">Kids</a></li>

       
        <li class="dropdown-header"><h3><b>Shoes</b></h3></li>
        <li><a href="~/StoreFront/Index/Shoes">Cycling Shoes</a></li>

    </ul>
</div>
<div class="col-sm-3">
    <ul>
        <li class="dropdown-header"><h3><b>Car Racks</b></h3></li>
        <li><a href="~/StoreFront/Index/Accessories Parts">Accessories Parts</a></li>
        <li><a href="~/StoreFront/Index/Hitch"> Hitch-Mount</a></li>
        <li><a href="~/StoreFront/Index/Roof">Roof-Mount </a></li>
        <li><a href="~/StoreFront/Index/Trunk">Trunk-Mount </a></li>
      
     
    </ul>
</div>

    