
@{
    ViewBag.Title = "Events";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Events</h2>
<div align="center">
<iframe src="https://calendar.google.com/calendar/embed?title=BicycleWorldShop%20Calendar&amp;height=1000&amp;wkst=2&amp;bgcolor=%233333ff&amp;src=ov0jg6304ujdck9uqndangsfkg%40group.calendar.google.com&amp;color=%235F6B02&amp;src=en.mk%23holiday%40group.v.calendar.google.com&amp;color=%23125A12&amp;ctz=Europe%2FBelgrade" style="border:solid 1px #777" width="900" height="1000" frameborder="0" scrolling="no"></iframe>
</div>