


@{
    ViewBag.Title = "PrivacyInfo";
   
}

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm())
{   

   
        <fieldset >
            <h2 >     </h2> 
            <br />
            <h2> Your Privacy </h2>
            <br />
            <p>
                Thank you for reviewing our policies regarding any personal information you may choose to provide at our website. We take your privacy very seriously and carefully protect any and all information entrusted to us. We only collect information that helps us serve you better and that you voluntarily provide. We do not share your information with anyone else unless you've approved of such sharing in advance.
</p>
                <br />
                <h2>    What Information We Collect </h2>
                The following types of information may be collected at this website  (if you volunteer it):
                <ul>
                    <li> your e-mail address</li>
                    <li> your first and last name</li>
                    <li>your street address, city, state and ZIP Code</li>
                    <li>pertinent information specific to an event or activity (where relevant) </li>
                </ul>
                <h2>  More About E-Mail & Postal Addresses </h2>
                If you supply us with your e-mail and/or postal addresses, and do not specify otherwise, you may receive periodic messages from us with information on new products, services or upcoming events.
                <br />
                If, later, you decide you no longer wish to receive such messages, you may let us know by sending an e-mail, calling or writing us. To ensure we correctly identify you (many names are similar), please be sure to include your complete name and address and all e-mail addresses that may be associated with your record. This helps us accurately locate your information in our file. Such information will only be used to comply with your request.
                <br />
                If you would like to see your contact information we have on file, please stop in or let us know to what address you'd like us to send a copy.
                <br />
                <h2>Periodic Updates</h2>
                Please check this page for periodic updates on our policies regarding any personal information you've provided to us via our website. Thank you for visiting us online. We appreciate the opportunity to serve you.

                <div style="text-align:center">Effective as of May 1, 2015</div>

        </fieldset>
   
}


