
@{
    ViewBag.Title = "ServicePage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<main id="PageMain" class="sePageMain">
    <div class="sePageMainWrapper" data-ui="page-content">

        <article id="InfoPage147" class="sePageContent" itemscope="" itemtype="http://schema.org/WebPage">

            <section class="section sePageSection sePageSectionResponsive" style="">
                <div class="container">
                    <div class="row wysiwyg1-1">
                        <div class="col-xs-12">
                            <div class="editContent seCustomContent" data-selector=".editContent" style="">
                                <h1>Bike Service &amp; Repair</h1><p><span style="font-family: Verdana; font-size: small;">Our service department repairs bikes every day, so we know what works well in the north state climate and terrain. We are Certified RockShox and Campagnolo Technicians. We also invest in all the specialty tools needed to repair full-suspension and disc-equipped mountain bikes, carbon fiber frames and aero wheels. We stock repair parts, tools, lubes, and work stands for the do-it-yourself mechanic. </span></p><p><span style="font-family: Verdana; font-size: small;">There are two types of bike tools: small take along multi tools and lightweight tire tools, or regular larger tools for garage work. Both are useful depending on how often you do your own work. We recommend all riders invest in a chain cleaning system. Most off road riders should clean their chain after every ride. It keeps the drive train shifting smoothly and reduces wear on gears. We recommend different lubes for different conditions or riding, but most lubes are cleaner and allow for quick chain cleaning. We also have a chain check tool that measures wear. Over time a chain will stretch and if not replaced will reshape the teeth on all the gears - then lookout for a big repair cost! It is MUCH cheaper to replace a chain once a year (around $30). You can always <a href="/storelocator/" target="_top">drop by The Bike Shop</a> and have your chain checked, or we also sell that tool too.</span></p><p>
                                    <span style="font-family: Verdana, Arial, Helvetica, sans-serif; font-size: small;">
                                        Many riders enjoy doing maintenance on their bikes, others just want to ride. We strongly recommend to all active riders that we do a professional tune-up each year. We check for chain stretch, adjust hubs, tighten cranks, tune wheels, lube and adjust cables, clean the drive train and adjust brakes. All parts are checked for wear and safety issues. We take care of many repairs every year, so please use our expertise. The winter months when you aren't using your bike as much is a great time to bring it in to prepare for the spring and summer months when you will want to be riding. Regular tune ups typically save you money by catching problems and repairing them before further damage is done. Bikes are NOT maintenance free, but we will make recommendations that are appropriate for your use.
                                    </span>
                                </p><p><span><img class="secimageright" align="right" height="286" width="230" alt="Bike Service and Repair - Redding, California" style="" src="~/Content/Images/shop_repairs.jpg" ></span></p><p>
                                    <span style="font-family: Verdana, Arial, Helvetica, sans-serif; font-size: small;">
                                        <strong><br></strong>
                                    </span>
                                </p><h3>LOCAL PROBLEMS AND SOLUTIONS</h3><p><strong><span style="font-family: Verdana, Arial, Helvetica, sans-serif; font-size: small;">Flat Tires:</span></strong><span style="font-family: Verdana, Arial, Helvetica, sans-serif; font-size: small;">&nbsp;Thorns and puncture vines are common in the North State. We have heavy duty tubes, tire liners, sealant and kevlar lined tires to help keep you up and running.</span></p><p><strong><span style="font-family: Verdana, Arial, Helvetica, sans-serif; font-size: small;">Dirty/Dry Chains:</span></strong><span style="font-family: Verdana, Arial, Helvetica, sans-serif; font-size: small;">&nbsp;Cleaning brush (never lube a dirty chain!!) chain cleaning solution and chain wax (not OIL).</span></p><p><strong><span style="font-family: Verdana, Arial, Helvetica, sans-serif; font-size: small;">Shifting Problems:</span></strong><span style="font-family: Verdana, Arial, Helvetica, sans-serif; font-size: small;">&nbsp;Clean dirty/dry cables and re-lube. Replace worn cables and housing, adjust derailleurs.</span></p><p><strong><span style="font-family: Verdana, Arial, Helvetica, sans-serif; font-size: small;">Poor Stopping:</span></strong><span style="font-family: Verdana, Arial, Helvetica, sans-serif; font-size: small;">&nbsp;Replace brake pads. Adjust brake cables.</span></p><p><span style="font-family: Verdana, Arial, Helvetica, sans-serif; font-size: small;"><strong>Squealing Brakes:</strong> Toe-in brake pads or replace pads.</span></p><p><strong><span style="font-family: Verdana, Arial, Helvetica, sans-serif; font-size: small;">Cracked Tires:</span></strong><span style="font-family: Verdana, Arial, Helvetica, sans-serif; font-size: small;">&nbsp;Common from the North State heat in summer. Replace tires.</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="section sePageSection sePageSectionResponsive" style="">
                <div class="container">

                    <div class="row custom1-3 ">

                        <div class="col-xs-12 col-sm-4 content-block-column col-margin-bottom" data-mh="column" style="background-color: rgb(204, 204, 204); height: 357px;" data-selector="div.content-block-column" data-enableis="false" data-ontext="false">
                            <div class="editContent" data-width="360" data-height="300" data-ratio="360:300" data-selector=".editContent">
                                <div class="content-block-content">
                                    <h2>SERVICE PACKAGES</h2><p>
                                        <span style="font-size: 12px;">
                                            Minor tune-up (lube, air tires, check brakes, check derailleurs, check components are tight)
                                            <br>Major tune-up
                                            <br>Drivetrain overhaul
                                            <br>Brake overhaul
                                            <br>Complete bicycle overhaul
                                            <br>Complete bearing overhaul
                                            <br>Detail bike: thoroughly clean bicycle and components; polish and wax bicycle
                                        </span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 content-block-column col-margin-bottom" data-mh="column" style="background-color: rgb(243, 243, 243); height: 357px;" data-selector="div.content-block-column" data-enableis="false" data-ontext="false">
                            <div class="editContent" data-width="360" data-height="300" data-ratio="360:300" data-selector=".editContent">
                                <h2>WHEELS</h2><span style="font-size: 12px;">
                                    Flat tire repair
                                    <br>Replace tire(s)
                                    <br>Replace broken spoke(s)
                                    <br>Install new front wheel
                                    <br>Install new rear wheel (derailleur)
                                    <br>Install new rear wheel (coaster-brake)
                                    <br>Install new rear wheel (internally geared)
                                    <br>Wheel truing (minor)
                                    <br>Wheel truing (major)
                                    <br>Wheel retensioning, dishing and truing
                                    <br>
                                </span><span style="background-color: initial; font-size: 12px;">Wheel building</span><br><span style="font-size: 12px;">
                                    Hub bearing overhaul
                                    <br>Replace cassette
                                </span>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 content-block-column col-margin-bottom" data-mh="column" style="background-color: rgb(238, 238, 238); height: 357px;" data-selector="div.content-block-column" data-enableis="false" data-ontext="false">
                            <div class="editContent" data-width="360" data-height="300" data-ratio="360:300" data-selector=".editContent">
                                <div class="content-block-content">
                                    <h2>BRAKES</h2><p>
                                        <span style="font-size: 12px;">
                                            Replace brake cable(s) <br>Replace brake shoes
                                            <br>Minor brake adjustment (cable)
                                            <br>Minor brake adjustment (disc)
                                            <br>Major brake adjustment (cable)
                                            <br>Major brake adjustment (disc)
                                            <br>Bleed hydraulic disc brakes
                                            <br>Disc-brake rotor repair
                                            <br>Hydraulic disc brake line repair/replace
                                            <br>Install and adjust new brakes (cable)
                                            <br>Install and adjust new brakes (disc/hydraulic)
                                            <br>Install and adjust new brakes (disc/cable)
                                        </span>
                                    </p>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </section>

            <section class="section sePageSection sePageSectionResponsive" style="">
                <div class="container">

                    <div class="row custom1-3 ">

                        <div class="col-xs-12 col-sm-4 content-block-column col-margin-bottom" data-mh="column" style="background-color: rgb(243, 243, 243); height: 456px;" data-selector="div.content-block-column" data-enableis="false" data-ontext="false">
                            <div class="editContent" data-width="360" data-height="300" data-ratio="360:300" data-selector=".editContent">
                                <div class="content-block-content">
                                    <h2>DRIVETRAIN</h2><p>
                                        <span style="font-size: 12px;">
                                            Clean and lube <br>Complete drivetrain service (inspect, repair, adjust: cables, bottom bracket, crankset, derailleurs)
                                            <br>Replace chain (may need to replace cassette, too)
                                            <br>Replace cassette
                                            <br>Replace chainring(s)
                                            <br>Replace crankset and bottom bracket
                                            <br>Adjust front derailleur
                                            <br>Adjust rear derailleur
                                            <br>Replace front derailleur
                                            <br>Replace rear derailleur
                                            <br>Install new derailleurs and shifters
                                            <br>Replace shift cable(s)
                                            <br>Derailleur hanger (frame) repair/replacement
                                            <br>Remove pedals
                                            <br>Install pedals
                                            <br>Overhaul pedal bearings
                                        </span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 content-block-column col-margin-bottom" data-mh="column" style="background-color: rgb(238, 238, 238); height: 456px;" data-selector="div.content-block-column" data-enableis="false" data-ontext="false">
                            <div class="editContent" data-width="360" data-height="300" data-ratio="360:300" data-selector=".editContent">
                                <h2>FRONT END</h2><p>
                                    <span style="font-size: 12px;">
                                        Adjust headset
                                        <br>Overhaul headset
                                        <br>Replace headset
                                        <br>Replace handlebars
                                        <br>Replace stem
                                        <br>Replace handlebar tape
                                        <br>Replace handlebar grips
                                    </span>
                                </p>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 content-block-column col-margin-bottom" data-mh="column" style="background-color: rgb(243, 243, 243); height: 456px;" data-selector="div.content-block-column" data-enableis="false" data-ontext="false">
                            <div class="editContent" data-width="360" data-height="300" data-ratio="360:300" data-selector=".editContent">
                                <h2>BEARINGS</h2><p>
                                    <span style="font-size: 12px;">
                                        Overhaul headset
                                        <br>Overhaul/replace bottom bracket
                                        <br>Overhaul hub(s)
                                        <br>Overhaul pedals
                                        <br>Overhaul derailleur pulleys
                                    </span>
                                </p><div class="content-block-content"><br></div>
                            </div>
                        </div>

                    </div>

                </div>
            </section>

            <section class="section sePageSection sePageSectionResponsive" style="">
                <div class="container">

                    <div class="row custom1-3 ">

                        <div class="col-xs-12 col-sm-4 content-block-column col-margin-bottom" data-mh="column" style="background-color: rgb(238, 238, 238); height: 412px;" data-selector="div.content-block-column" data-enableis="false" data-ontext="false">
                            <div class="editContent" data-width="360" data-height="300" data-ratio="360:300" data-selector=".editContent">
                                <h2>FRAME &amp; FORK</h2>
                                <span style="font-size: 12px;">
                                    Check/align dropouts
                                    <br>Replace&nbsp;fork
                                    <br>Tune front and rear suspension
                                    <br>Tune suspension: fork
                                    <br>Tune suspension: shock
                                    <br>Suspension fork overhaul
                                    <br>Rear shock overhaul
                                    <br>Steel frame alignment/repair
                                    <br>Frame preparation for assembly (thread chase &amp; face)
                                    <br>Derailleur hanger (frame) repair/replacement
                                </span><p></p>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 content-block-column col-margin-bottom" data-mh="column" style="background-color: rgb(243, 243, 243); height: 412px;" data-selector="div.content-block-column" data-enableis="false" data-ontext="false">
                            <div class="editContent" data-width="360" data-height="300" data-ratio="360:300" data-selector=".editContent">
                                <h2>BIKE FITTING</h2><p>
                                    <span style="font-size: small;">Installing and adjusting shoe cleats</span>
                                    <br><span style="font-size: small;">Basic seat and handlebar adjustment (free with purchase of new bike)</span>
                                    <br><span style="font-size: small;">Complete fitting to bicycle</span>
                                </p>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 content-block-column col-margin-bottom" data-mh="column" style="background-color: rgb(238, 238, 238); height: 412px;" data-selector="div.content-block-column" data-enableis="false" data-ontext="false">
                            <div class="editContent" data-width="360" data-height="300" data-ratio="360:300" data-selector=".editContent">
                                <h2>OTHER SERVICES</h2><p>
                                    <span style="font-size: 12px;">
                                        Box bike for shipping <br>Build boxed bike (shipped)
                                        <br>Replace seat
                                        <br>Replace seatpost
                                        <br>Install toe clips
                                        <br>Install rear rack
                                        <br>Install handlebar light
                                        <br>Install taillight
                                        <br>Install fenders
                                        <br>Install lighting system
                                        <br>Install baby seat
                                        <br>Install water bottle and cage
                                        <br>Install and setup cyclo-computer
                                        <br>Install kickstand
                                        <br>Install pump
                                    </span>
                                </p>
                            </div>
                        </div>

                    </div>

                </div>
            </section>

            <section class="section sePageSection sePageSectionResponsive" style="">
                <div class="container">

                    <div class="row custom5-4 ">

                        <!-- centered headline -->
                        <div class="col-xs-12 text-center">
                            <div class="content-block-column" data-selector="div.content-block-column">
                                <div class="editContent" data-selector=".editContent"><h3>Questions?&nbsp;<a class="btn btn-primary" href="@Url.Action("Contact", "Home")">Contact Us</a></h3></div>

                            </div>
                        </div>


                    </div>

                </div>
            </section>

        </article>

    </div>
</main>

